body {
  font-family: 'Noto Sans', sans-serif;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 585px;
  width: 300px;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  outline: 1px solid #888888;
}

.header {
  background-color: teal;
  height: 60px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.5em;
  font-style: ;
  text-align: center;
  border: 3px solid;
}

small {
  font-size: 0.5em;
}

.computer-row {
  background-color: #b27;
  height: 150px;
  color: white;
  padding: 20px;
  border: 3px solid;
}

.player-row {
  background-color: #35b8eb;
  height: 150px;
  color: white;
  padding: 20px;
  border: 3px solid;
}

button {
  margin: 5px 5px 5px 0px;
}

.score-row {
  background-color: teal;
  height: 80px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border: 3px solid;
}
